@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap');

*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  
}

body {
    flex-direction: column;
    font-family: 'popins'
    font-style: normal;
    
}



.menu{
    background-color: red;
    position: absolute;
    width: 1280px;
    height: 40px;
    left: 0px;
    top: 104px;
/* WHITE */

background: #FFFFFF;
/* SHADOW */

box-shadow: 0px 8px 16px rgba(179, 134, 0, 0.12);
border-radius: 0px 0px 10px 10px;
    }

/* Barra de Pesquisar */
    label {display: block;}
    input, button {padding: 10px;}
    input {width: 50%;}
    /*  */
/
.menu ul {
    list-style: none;
    padding: 0;
    display: inline-block;
}



 .menu li {
    display: inline-block;
    text-transform: none

 }


.menu ul li  {
    position:absolute;
    top:25px;
    left:0;
    background-color:black;
    display:none;
    }
 */
.col-100{
        position: absolute;
    width: 1280px;
    height: 490px;
    left: 0px;
    top: 134px;
    background: #4D3F19;
    mix-blend-mode: normal;
    opacity: 0.2;   
    }
    
    button.slick-prev{
        font-size: 0px;
        border: none;
        width: 21px;
        height: 51px;
        z-index: 9;
        background-color: transparent;
        position: absolute;
        background-image: url(../imagens/Esquerda\ \(1\).png);
        top:30%;
        left: 5%;
    }
    button.slick-next{
        font-size: 0px;
        border: none;
        width: 21px;
        height: 51px;
        z-index: 9;
        background-color: transparent;
        position: absolute;
        background-image: url(../imagens/Direita.png);
        top: 30%;
        right: 5%;
        
    } */